<!DOCTYPE html>
<html>
<head>
	<title>Upload new File</title>
	<script src="/static/jquery-1.9.1.min.js"></script>
	<script src="/static/sha256.js"></script>
	<script src="/static/json2.js"></script>
</head>
<body>
<h1>Upload new File</h1>
<form action="" method=post enctype=multipart/form-data>
	<p><input id='uploader' type='file' name='files' />
		<input type='submit' value='Upload' />
	<button id="pause">pause</button>
</form>
<output id="list"></output>
<span>Per cent uploaded:</span><span id="status">0.00</span>%
<br/>
<span>Speed:</span><span id="speed">0</span>kb/s
<script>
	var bufferSize = 1024*512;
	var f = null;
	var file1 = null;
	var uploader;
	function handleFileSelect(evt) {
		var files = evt.target.files; // FileList object

		// files is a FileList of File objects. List some properties.
		var output = [];
		for (var i = 0, f; f = files[i]; i++) {
			output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
					f.size, ' bytes, last modified: ',
					f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
					'</li>');
		}
		document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';

		file1 = files[0];
		/*for (var i = 0; f = files[i]; i++) {
			console.log(f);
			if(f.size <= bufferSize){
				console.log("smaller than buffer size");
			} else {
				console.log("larger than buffer size");
				var y = 0;
				for (y=0; y < f.size; y+=bufferSize) {

				}
			}
		}
		setInterval(handleFileChunks,100);*/
		var dict = new backupbay.collections.Dictionary();
		dict.set('file', file1);
		uploader = new backupbay.io.Uploader(dict);
		uploader.uploadFile();
	}

	var backupbay={};
	(function( collections, $, undefined ) {
		collections.Dictionary = function Dictionary() {
			var self = {};
			self.index = 0;
			return{
				constructor: collections.Dictionary,
				add: function(key, value){
					self.index += 1;
					return this[key] = value;
				},
				set: function(key, value){
					this[key] = value;
				},
				get: function(key){
					return this[key];
				},
				remove: function(key){
					delete this[key];
				},
				exist: function(key){
					if(this[key]){
						return true;
					}
					else{
						return false;
					}
				},
				keys: function(){
					return this.getOwnPropertyNames;
				},
				getIndex: function(){
					return self.index;
				}
			};
		};
	}(window.backupbay.collections = window.backupbay.collections || {}, $));

	(function( errors, $, undefined ) {
		errors.DictionaryException = function DictionaryException(message) {
			this.message = message;
			this.error = "DictionaryException";
		};
	}(window.backupbay.errors = window.backupbay.errors || {}, $));
	backupbay.errors.DictionaryException.prototype = new Error();
	backupbay.errors.DictionaryException.prototype.constructor = backupbay.errors.DictionaryException;

	(function( io, $, undefined ) {
		io.Uploader = function Uploader(map) {
			if(map.constructor !== backupbay.collections.Dictionary){
				throw new backupbay.errors.DictionaryException("Instance is not of type Dictionary");
			}
			if(!map.exist('file')){
				throw new backupbay.errors.DictionaryException("Missing file");
			}
			var self = {};
			self.file = map.get('file');
			self.bufferSize = map.exist('bufferSize') ? map.get('bufferSize') : 1024 * 512;
			self.url = map.exist('url') ? map.get('url') : '/upload/chunk';
			self.currentOffset = 0;
			self.numberOfUploads = 0;
			self.percent = 0;
			self.sumChunks = Math.ceil(self.file.size / self.bufferSize);
			self.sumUploadedChunks = 0;
			self.fileHash = null;
			self.uploadSpeed = 0;
			self.timeOfLastUpload = null;
			self.isPauseEnabled = false;

			function getSHA256Hash(content){
				var hashObj = new jsSHA(content, "TEXT");
				return hashObj.getHash("SHA-256", "HEX");
			}
			function handleFileUpload(){
				var chunk = PUBLIC.getNextChunk();
				if(chunk == -1){
					return 1;
				}
				var reader = new FileReader();
				reader.onloadend = function(data){
					PUBLIC.sendChunk(chunk, getSHA256Hash(data.target.result));
				}
				reader.readAsBinaryString(chunk);
			}
			function createFileMeta(){
				self.fileHash = getSHA256Hash(self.file.name+self.file.size.toString());
				$.ajax({
					type: 'PUT',
					url: '/create/metadata',
					data: '{"name": "'+self.file.name+
							'", "path": "'+'/olavgg/'+
							'", "hash": "'+self.fileHash+
							'", "size": '+self.file.size+'}',
					processData:false,
					contentType: false,
					sync: true,
					headers: {
						"Authtoken":"test4153450"
					},
					error: function(){

					},
					success: function(data){
						handleFileUpload();
					}
				});
			}
			function completeUpload(){

			}
			function updatePercent(){
				self.percent = (100 / self.sumChunks) * self.sumUploadedChunks;
				self.percent = self.percent.toFixed(2);
			}
			function updateUploadSpeed(){
				var currentTime = new Date().getTime();
				var duration = (currentTime - self.timeOfLastUpload) / 1000;
				self.uploadSpeed =
					(Math.round(self.bufferSize / duration) / 1024).toFixed(2);
				self.timeOfLastUpload = currentTime;
			}
			function updateProgress(){
				self.sumUploadedChunks += 1;
				updatePercent();
				updateUploadSpeed();
				$('#status').html(self.percent);
				$('#speed').html(self.uploadSpeed);
			}
			var continueUploading = function(){
				if(self.isPauseEnabled == true){
					setTimeout(continueUploading, 5000);
				} else {
					updateProgress();
					if(handleFileUpload() == 1){
						completeUpload();
					}
				}
			}
			var PUBLIC = {
				constructor: io.Uploader,
				setFile: function(file){
					self.file = file;
				},
				sendChunk: function(chunk, chunkHash){
					var fd = new FormData();
					fd.append("chunk", chunk);
					$.ajax({
						type: 'PUT',
						url: self.url,
						data: fd,
						processData:false,
						contentType: false,
						async: true,
						headers: {
							"Authtoken":"test4153450",
							"Chunkhash":chunkHash,
							"Filehash":self.fileHash
						},
						error: function(data){
							var retryFunction = function(){
								PUBLIC.sendChunk(chunk, chunkHash);
							}
							setTimeout(retryFunction, 5000);
						},
						success: function(data){
							continueUploading();
						}
					});
				},
				getNextChunk: function (){
					if(self.file.size < self.currentOffset){
						return -1;
					}
					var dataChunk = self.file.slice(
							self.currentOffset,
							self.currentOffset + self.bufferSize);
					self.currentOffset += self.bufferSize;
					return dataChunk;
				},
				uploadFile: function(){
					self.timeOfLastUpload = new Date().getTime();
					createFileMeta();
				},
				togglePause: function(){
					if(self.isPauseEnabled == false){
						self.isPauseEnabled = true;;
					} else{
						self.isPauseEnabled = false;
					}
					console.log(self.isPauseEnabled);
				}
			};
			return PUBLIC;
		};
	}(window.backupbay.io = window.backupbay.io || {}, $));
	document.getElementById('uploader').addEventListener('change', handleFileSelect, false);
	$('#pause').click(function(){
		if(uploader != null){
			uploader.togglePause();
		}
		return false;
	});
</script>
</body>
</html>